<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
<header>
	<nav>
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Contact</li>
		</ul>
	</nav>
</header>
{% if flash.message %}
    <!-- There's a flash-scoped object under the 'message' key -->
    <div class="flash_message">
        <p>{{ flash.message }}</p>
    </div>
{% endif %}
<section class="content">
	{% block content %}{% endblock %}
</section>
<footer>
	
</footer>
</body>
</html>